@charset "UTF-8";
/* ==================================================
   基本設定
================================================== */

* {
	box-sizing: border-box;
}

body {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.7;
	color: #fff;
	background-color: #fff;
	font-feature-settings : "pkna";
	font-family: 'Noto Sans JP',Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}



/* ==================================================
   Header ヘッダー設定
================================================== */
.Header {
	position: relative;
	z-index: 5;
	width: 100%;
	margin: 0 auto 250px;
}
.Nav {
	position: absolute;
	width: 1000px;
	left: 0;
	right: 0;
	margin: auto;
}
.NavList {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}
.NavList__item {
	list-style: none;
}
.NavList__item a {
	display: block;
	padding: 25px;
	color: #FFF;
	text-decoration: none;
}
.NavList__item a:hover {
	text-decoration: underline;
}
.NavList__item:last-child a {
	padding: 25px 0 25px 25px;
}


/* ==================================================
   Footer フッター設定
================================================== */

.Footer {
	width: 100%;
	background-color: #E0F1F1;
}
.Footer small {
	padding: 15px 10px;
	width: 100%;
	font-size: 14px;
	display: block;
	color: #2085c9;
	text-align: center;
}

