@charset "UTF-8";
.HeaderSvg {
  width: 100vw;
  background-color: #2085c9;
}
.About__svg,
.Design__svg,
.Html__svg,
.Php__svg,
.Javascript__svg{
  width: 100vw;
}


/* ==================================================
   About
================================================== */
.About {
	background-color: #99d748;
}
.AboutWrap {
	position: relative;
	margin: 0 auto 260px;
	padding: 130px 0 90px;
	width: 1000px;
}
.AboutTitle {
	position: absolute;
	left: 0;
	top: -230px;
	margin: 0;
	font-size: 60px;
	color: #2085c9;
	display: block;
}

.AboutTitle:first-letter {
	font-size: 200px;
}
.AboutTitle span {
	margin: 0 -5px 0 0;
    background: -webkit-linear-gradient(left, #E0F1F1 50%, transparent 50%);
    background: -moz-linear-gradient(left, #E0F1F1 50%, transparent 50%);
    background: linear-gradient(left, #E0F1F1 50%, transparent 50%);
  	background-repeat: no-repeat;
  	background-size: 0 .3em; 
    background-position: bottom 10px left 2px;
    transition: 2s;
}
.About.-is-active .AboutTitle span{
  	background-size: 200% .3em; 
    background-position: bottom 10px left 2px;
}


/*About用の波設定
--------------------------------------------------------- */
.About__svg {
	background-color: #99d748;
	transform: scale(1,-1);
}

/*テーブル設定
--------------------------------------------------------- */
.AboutTable {
	border: none;
	border-collapse: collapse;
  	border-spacing: 0;
	background-color: white;
}
.AboutTable__th {
	padding: 20px 20px;
	font-weight: 500;
	width: 7em;
	border: none;
	vertical-align: top;
	text-align: justify;
	text-align-last: justify;
}
.AboutTable__td {
	padding: 20px 20px;
	font-weight: 300;
	border: none;
	color: #2085c9;
	background-color: #E0F1F1;
}
/*テーブル色を交互に設定*/
.AboutTable tr:nth-child(odd) .AboutTable__th{
	background-color: rgba(32,133,201,0.93);
}
.AboutTable tr:nth-child(even) .AboutTable__th{
	background-color: #2085c9;
}
.AboutTable tr:nth-child(odd) .AboutTable__td{
	background-color: rgba(224,241,241,0.50);
}
.AboutTable tr:nth-child(even) .AboutTable__td{
	background-color: rgba(224,241,241,1.0);
}

/*リスト設定
--------------------------------------------------------- */
.AboutList {
margin:0 0 40px;
}
.AboutList__dt {
color:#fff;
float:left;
padding: 0 5px;
font-weight: bold;
text-align: justify;
text-align-last: justify;
background: #2085c9;
background-position: bottom 4px left 100%;
width:5.5em;/* 日付の幅を指定 */
}
.AboutList__dd {
margin-bottom:16px;/* 上下の間隔 */
margin-left:7em;/* 日付の幅よりも多く取る */
}


/* ==================================================
   Design
================================================== */
.Design {
	background-color: #2085c9;
}
.DesignWrap {
	position: relative;
	margin: 0 auto 260px;
	padding: 120px 0 90px;
	width: 1000px;
}
.DesignTitle {
	position: absolute;
	left: -20px;
	top: -210px;
	margin: 0;
	font-size: 60px;
	color: #99d748;
	display: block;
}

.DesignTitle:first-letter {
	font-size: 200px;
	letter-spacing: -20px;
}
.DesignTitle span {
	margin: 0 -5px 0 0;
    background: -webkit-linear-gradient(left, #E0F1F1 50%, transparent 50%);
    background: -moz-linear-gradient(left, #E0F1F1 50%, transparent 50%);
    background: linear-gradient(left, #E0F1F1 50%, transparent 50%);
  	background-repeat: no-repeat;
  	background-size: 0 .3em; 
    background-position: bottom 10px left 19px;
    transition: 2s;
}
.Design.-is-active .DesignTitle span{
  	background-size: 200% .3em; 
    background-position: bottom 10px left 19px;
}


/*Design用の波設定
--------------------------------------------------------- */
.Design__svg {
	background-color: #2085c9;
	transform: scale(1,-1);
}

/* 画像設定
--------------------------------------------------------- */
.DesignImgWrap {
	margin: 0 -10px;
	display: flex;
}
.DesignImgSingle {
	width: 33.33%;
	padding: 0 10px 20px;
}
.DesignImgSingle__link{
	display: block;
	margin: 20px auto 0;
	transition-duration: 0.2s;
}
.DesignImgSingle__link:hover{
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
  transform: translateY(-5px);
  transition-duration: 0.2s;
}
.DesignImgSingle__img{
  width: 100%;
  cursor: pointer;
}

/*テキスト設定
--------------------------------------------------------- */
.DesignImgTxt {
	padding: 10px 0;
}
.DesignImgTxt__title {
	margin: 0 0 10px;
	font-size: 20px;
}
.DesignImgTxtList {
	margin:0 0 40px;
	font-size: 15px;
}
.DesignImgTxtList__dt {
color:#fff;
float:left;
padding: 0 5px 0 0;
background: #2085c9;
background-position: bottom 4px left 100%;
}
.DesignImgTxtList__dd::before {
	content: '：';
}


/* ==================================================
   Html
================================================== */
.Html {
	background-color: #99d748;
}
.HtmlWrap {
	position: relative;
	margin: 0 auto 260px;
	padding: 150px 0 90px;
	width: 1000px;
}
.HtmlTitle {
	position: absolute;
	left: -20px;
	top: -210px;
	margin: 0;
	font-size: 60px;
	color: #2085c9;
	display: block;
}

.HtmlTitle:first-letter {
	font-size: 200px;
	letter-spacing: -14px;
}
.HtmlTitle span {
	margin: 0 -5px 0 0;
    background: -webkit-linear-gradient(left, #E0F1F1 50%, transparent 50%);
    background: -moz-linear-gradient(left, #E0F1F1 50%, transparent 50%);
    background: linear-gradient(left, #E0F1F1 50%, transparent 50%);
  	background-repeat: no-repeat;
  	background-size: 0 .3em; 
    background-position: bottom 10px left 19px;
    transition: 2s;
}
.Html.-is-active .HtmlTitle span{
  	background-size: 200% .3em; 
    background-position: bottom 10px left 19px;
}

/*Html用の波設定
--------------------------------------------------------- */
.Html__svg {
	background-color: #99d748;
	transform: scale(1,-1);
}

.HtmlExp__title,
.HtmlCssDesign__title,
.HtmlWhyDesign__title,
.HtmlResponsive__title,
.HtmlCodingTime__title{
	margin: 0 0 20px;
	padding: 0 15px;
	font-weight: 100;
	font-size: 26px;
	display: inline-block;
	background-color: #2085c9;
}
.HtmlExp__txt,
.HtmlCssDesign__txt, 
.HtmlWhyDesign__txt,
.HtmlResponsive__txt,
.HtmlCodingTime__txt {
	margin: 0 0 70px;
}
.HtmlCodingTime__txt {
	margin: 0 0 25px;
}
.HtmlExp__txt a, 
.HtmlCssDesign__txt a, 
.HtmlWhyDesign__txt a,
.HtmlResponsive__txt a,
.HtmlCodingTime__txt a {
	color: #2085c9;
	background-color: #E0F1F1;
	padding: 0 5px;
}
.HtmlExp__txt a:hover, 
.HtmlCssDesign__txt a:hover, 
.HtmlWhyDesign__txt a:hover,
.HtmlResponsive__txt a:hover,
.HtmlCodingTime__txt a:hover {
	color: #8DBFE3;
}
.HtmlCodingTime__git {
	display: inline-block;
	background-color: #E0F1F1;
	margin: -40px 0 60px;
}
.HtmlCodingTime__git svg {
	padding-right: 5px;
	width: 34px;
	height: auto;
}
.HtmlCodingTime__git a {
	font-size: 0.9em;
	color: #2085c9;
	padding: 5px 20px 5px 10px;
	display: block;
}

/* ==================================================
   Php
================================================== */
.Php {
	background-color: #2085c9;
}
.PhpWrap {
	position: relative;
	margin: 0 auto 260px;
	padding: 120px 0 90px;
	width: 1000px;
}
.PhpTitle {
	position: absolute;
	left: -20px;
	top: -220px;
	margin: 0;
	font-size: 60px;
	color: #99d748;
	display: block;
}

.PhpTitle:first-letter {
	font-size: 200px;
	letter-spacing: -60px;
}
.PhpTitle span {
	margin: 0 -5px 0 0;
    background: -webkit-linear-gradient(left, #E0F1F1 50%, transparent 50%);
    background: -moz-linear-gradient(left, #E0F1F1 50%, transparent 50%);
    background: linear-gradient(left, #E0F1F1 50%, transparent 50%);
  	background-repeat: no-repeat;
  	background-size: 0 .3em; 
    background-position: bottom 10px left 19px;
    transition: 2s;
}
.Php.-is-active .PhpTitle span{
  	background-size: 200% .3em;
    background-position: bottom 10px left 19px;
}


/*Php用の波設定
--------------------------------------------------------- */
.Php__svg {
	background-color: #2085c9;
	transform: scale(1,-1);
}

.PhpExp__title,
.PhpWordpress__title,
.PhpPerformance__title{
	margin: 0 0 20px;
	padding: 0 15px;
	font-weight: 100;
	font-size: 26px;
	display: inline-block;
	background-color: #99d748;
}
.PhpExp__txt,
.PhpWordpress__txt, 
.PhpPerformance__txt {
	margin: 0 0 60px;
}

.PhpExp__txt a,
.PhpWordpress__txt a, 
.PhpPerformance__txt a {
	color: #2085c9;
	background-color: #E0F1F1;
	padding: 0 5px;
}
.PhpExp__txt a:hover,
.PhpWordpress__txt a:hover, 
.PhpPerformance__txt a:hover {
	color: #8DBFE3;
}

/* ==================================================
   Javascript
================================================== */
.Javascript {
	background-color: #99d748;
}
.JavascriptWrap {
	position: relative;
	margin: 0 auto 160px;
	padding: 150px 0 90px;
	width: 1000px;
}
.JavascriptTitle {
	position: absolute;
	left: -4px;
	top: -200px;
	margin: 0;
	font-size: 60px;
	color: #2085c9;
	display: block;
}

.JavascriptTitle:first-letter {
	font-size: 200px;
	letter-spacing: -18px;
}
.JavascriptTitle span {
	margin: 0 -5px 0 0;
    background: -webkit-linear-gradient(left, #E0F1F1 50%, transparent 50%);
    background: -moz-linear-gradient(left, #E0F1F1 50%, transparent 50%);
    background: linear-gradient(left, #E0F1F1 50%, transparent 50%);
  	background-repeat: no-repeat;
  	background-size: 0 .3em; 
    background-position: bottom 10px left 2px;
    transition: 2s;
}
.Javascript.-is-active .JavascriptTitle span{
  	background-size: 200% .3em; 
    background-position: bottom 10px left 2px;
}


/*Javascript用の波設定
--------------------------------------------------------- */
.Javascript__svg {
	background-color: #99d748;
	transform: scale(1,-1);
}

.JavascriptExp__title,
.JavascriptPerformance__title{
	margin: 0 0 20px;
	padding: 0 15px;
	font-weight: 100;
	font-size: 26px;
	display: inline-block;
	background-color: #2085c9;
}
.JavascriptExp__title {
	margin: 0 0 40px;
}
.JavascriptExp__txt,
.JavascriptPerformance__txt {
	margin: 0 0 60px;
}

.JavascriptExp__txt a, 
.JavascriptPerformance__txt a {
	color: #2085c9;
	background-color: #E0F1F1;
	padding: 0 5px;
}

.JavascriptExp__txt a:hover, 
.JavascriptPerformance__txt a:hover {
	color: #8DBFE3;
}


/*テーブル設定
--------------------------------------------------------- */
.JavascriptTable {
	margin: 0 0 80px;
	border: none;
	border-collapse: collapse;
  	border-spacing: 0;
	background-color: white;
}
.JavascriptTable__th {
	padding: 20px 20px;
	font-weight: 500;
	width: 15em;
	border: none;
	vertical-align: top;
	text-align: justify;
	text-align-last: justify;
	vertical-align: middle;
}
.JavascriptTable__td {
	padding: 20px 20px;
	font-weight: 300;
	border: none;
	color: #2085c9;
	background-color: #E0F1F1;
}
/*テーブル色を交互に設定*/
.JavascriptTable tr:nth-child(odd) .JavascriptTable__th{
	background-color: rgba(32,133,201,0.93);
}
.JavascriptTable tr:nth-child(even) .JavascriptTable__th{
	background-color: #2085c9;
}
.JavascriptTable tr:nth-child(odd) .JavascriptTable__td{
	background-color: rgba(224,241,241,0.50);
}
.JavascriptTable tr:nth-child(even) .JavascriptTable__td{
	background-color: rgba(224,241,241,1.0);
}
